<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #000000;">
    <div class="container-fluid">
        <h1 th:text="${username}" style="color: white;"></h1>
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-outline-light ms-auto" type="submit">Logout</button>
        </form>
    </div>
</nav>
<div class="d-flex" style="height: 100vh; width: 100vw;">
    <ul style="width: 250px" class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" onclick="window.location.href = '/admin'">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="window.location.href = '/user'">User</a>
        </li>
    </ul>
<div style="padding: 20px; background: #e8e5e5; flex-grow: 1;">
<h1>Admin panel</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" onclick="window.location.href = '/admin'">User Table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" onclick="window.location.href = '/admin/addUser'">New User</a>
    </li>
</ul>
<div class="card">
    <div class="card-body">
        <h2 class="card-text">Add new user</h2>
    </div>
    <div class="card-footer">
        <div class="row justify-content-center">
            <form th:action="@{/admin/addOrUpdate}" th:method="post" th:object="${user}">
                <input hidden="hidden" type="number" th:field="*{id}" id="id" placeholder="id">
                <div class="form-group text-center">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" th:value="${user.username}" placeholder="Enter username">
                </div>
                <div class="form-group text-center">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" th:value="${user.password}" placeholder="Enter password">
                </div>
                <div class="form-group">
                <div class="text-center">
                    <label>Roles<br>
                        <select name="roles" th:multiple="true">
                            <option th:each="role : ${allRoles}"
                                    th:value="${role.id}"
                                    th:text="${role.name}">
                            </option>
                        </select>
                    </label>
                </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>