<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Save User</title>
</head>
<body>
<h2>Add new user</h2>
<form th:action="@{/admin/addOrUpdate}" th:method="post" th:object="${user}">
    <input hidden="hidden" type="number" th:field="*{id}" id="id" placeholder="id">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" th:value="${user.username}"><br>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></span><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" th:value="${user.password}"><br>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span><br>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"/>

    </label><br>
    <input type="submit" value="Add">

</form>
</body>
</html>